*{
    margin: 0;
    padding: 0;
}
#outerSign{
    margin-top: 15%;
}
.formDiv{
    background-color: bisque;
    height: 400px;
    width:400px
}

.divContainer{
    margin: 5%;

}
.name{
    margin: 2%;
    color: red;
}
.username{
    margin: 2%;
    color: red;
}
.password{
    margin: 2%;
    color: red;
}